@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-size: 26px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", serif;
}

html {
    background-color: black;
}


/*INICIO DA ESTILIZAÇÃO DO CABEÇALHO*/

header {
    background: linear-gradient(#4F0404, #B50909);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
}

header .logo h1 {
    font-size: 36px;
    position: relative;
    top: 30px;
}

header .navegacao {
    display: flex;
    flex-direction: column;
}

header .barra-de-pesquisa {
    background-color: white;
    border-radius: 26px;
    margin-bottom: 1.2rem;
    margin-top: 20px;
}

header .navegacao input {
    border: none;
    outline: 0;
    border-radius: 26px;
    padding: 7px;
    color: black;
}

header .navegacao .barra-de-pesquisa ion-icon {
    color: black;
    margin-top: 10px;
}

header .navegacao nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 297px;
    height: 22px;
    gap: 1.9rem;
}

header .navegacao nav a {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}

header .navegacao nav a:hover {
    text-decoration: underline;
}

header .botao-de-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 260px;
    /* Ajustei a largura */
    height: 50px;
    background-color: #B50909;
    color: white;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

header .botao-de-login:hover {
    background-color: #F39C12;
    transform: scale(1.05);
}

header .botao-de-login ion-icon {
    margin-right: 10px;
    /* Espaço entre ícone e texto */
    width: 24px;
    height: 24px;
}

header .botao-de-login a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


/*FIM EDIÇÃO DO BOTÃO DO LOGIN NA INDEX*/


/*FIM DA EDIÇÃO DO MAIN*/


/*INICIO DO CSS DA TELA DO REGISTER.CSS*/


/* Estilo do container principal */


/* Título */

.title {
    background-color: #D35400;
    /* Laranja escuro */
    padding: 10px;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 20px;
}


/* Estilo dos campos de input */

form label {
    display: block;
    text-align: left;
    font-size: 32px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: #FFF;
    font-size: 22px;
}


/* Estilo dos botões de gênero */

.gender-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.gender-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #D35400;
    color: #FFF;
    transition: background-color 0.3s;
}


/* Efeito ao selecionar o gênero */

input[type="radio"]:checked+.gender-button {
    background-color: #F39C12;
    /* Cor de destaque ao selecionar */
}


/* Botão de cadastro */

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #D35400;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* Efeito de hover no botão */

.submit-button:hover {
    background-color: #F39C12;
}


/* Link para login */

.login-link {
    font-size: 14px;
    margin-top: 10px;
}

.login-link a {
    color: #F39C12;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}


/*FIM DO CSS DA TELA DO REGISTER.CSS*/


/* INICIO DO CSS LOGIN.HTML*/


/* Container do formulário de login */

.login-container {
    width: 350px;
    background-color: #562D1A;
    /* Marrom escuro */
    color: #FFF;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}


/* Título */

.login-title {
    background-color: #D35400;
    /* Laranja escuro */
    padding: 10px;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 20px;
}


/* Estilo dos campos de input */

form label {
    display: block;
    text-align: left;
    font-size: 31px;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: #FFF;
}


/* Campo de senha com ícone */

.password-field {
    display: flex;
    align-items: center;
    gap: 5px;
}

.lock-icon {
    font-size: 16px;
    color: #FFF;
}


/* Botão de login */

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #D35400;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* Efeito de hover no botão */

.login-button:hover {
    background-color: #F39C12;
}


/* FIM  DO CSS LOGIN.HTML*/


/* Container */


/* Container */

main .container a {
    text-decoration: none;
}

.container {
    width: auto;
    /* Marrom escuro */
    color: #FFF;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    justify-content: space-around;
    /* Espaça os cards */
    gap: 30px;
    padding: 20px;
    /* Evita quebra de linha nos cards */
}

.card {
    flex: 1;
    max-width: 500px;
    /* Limita a largura dos cards */
    padding: 40px;
    border-radius: 10px;
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card img {
    width: 180px;
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    color: #333;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}


/* Cores dos cards */

.card-fisico {
    background-color: #A85D00;
}

.card-mental {
    background-color: #FFAA00;
}

.card-ingesta {
    background-color: #FFD700;
    padding-bottom: 49px;
}


/* Responsividade */

@media (max-width:1046) {
    .login {
        margin-left: -100px;
    }
}

@media (max-width: 600px) {
    .container {
        justify-content: center;
    }
}

footer {
    width: 100%;
    background-color: #B50909;
    height: 200px;
}

footer a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 50px;
    left: 50px;
}

footer .logosection {
    margin-top: -60px;
    float: right;
    margin-right: 200px;
}

footer .logosection img {
    width: 100px;
}

footer nav ul li a:hover {
    text-decoration: underline;
}


/*fim footer*/